In [1]:
import load
provider = load.VHIProvider()

In [2]:
provider.load_from_disk()
provider.get_vhi(provider.province_from_old(1))

loading vhi_1
loading vhi_2
loading vhi_3
loading vhi_4
loading vhi_5
loading vhi_6
loading vhi_7
loading vhi_8
loading vhi_9
loading vhi_10
loading vhi_11
loading vhi_12
loading vhi_13
loading vhi_14
loading vhi_15
loading vhi_16
loading vhi_17
loading vhi_18
loading vhi_19
loading vhi_20
loading vhi_21
loading vhi_22
loading vhi_23
loading vhi_24
loading vhi_25
loading vhi_26
loading vhi_27

      year  week    SMN     SMT    VCI    TCI    VHI
0     1982     1  0.053  260.31  45.01  39.46  42.23
1     1982     2  0.054  262.29  46.83  31.75  39.29
2     1982     3  0.055  263.82  48.13  27.24  37.68
3     1982     4  0.053  265.33  46.09  23.91  35.00
4     1982     5  0.050  265.66  41.46  26.65  34.06
...    ...   ...    ...     ...    ...    ...    ...
1913  2019    41  0.204  288.84  40.33   5.05  22.68
1914  2019    42  0.180  286.73  40.30   2.38  21.34
1915  2019    43  0.157  284.57  41.00   1.03  21.01
1916  2019    44  0.144  282.17  45.36   0.31  22.81
1917  2019    45  0.141  280.30  55.37   0.05  27.70

[1918 rows x 7 columns]

In [3]:
vhi = provider.frames

In [4]:
vhi[1]

      year  week    SMN     SMT    VCI    TCI    VHI
0     1982     1  0.053  260.31  45.01  39.46  42.23
1     1982     2  0.054  262.29  46.83  31.75  39.29
2     1982     3  0.055  263.82  48.13  27.24  37.68
3     1982     4  0.053  265.33  46.09  23.91  35.00
4     1982     5  0.050  265.66  41.46  26.65  34.06
...    ...   ...    ...     ...    ...    ...    ...
1913  2019    41  0.204  288.84  40.33   5.05  22.68
1914  2019    42  0.180  286.73  40.30   2.38  21.34
1915  2019    43  0.157  284.57  41.00   1.03  21.01
1916  2019    44  0.144  282.17  45.36   0.31  22.81
1917  2019    45  0.141  280.30  55.37   0.05  27.70

[1918 rows x 7 columns]

In [5]:
aws = load.AWSClient()

In [6]:
new_bucket_name = aws.setup_new_bucket(vhi, provider.raw_provinces)

Creating new bucket called ds-lab-9b74ec49-0310-4b1f-b103-358ddf1b083f...
Uploading vhi_1
Uploading vhi_2
Uploading vhi_3
Uploading vhi_4
Uploading vhi_5
Uploading vhi_6
Uploading vhi_7
Uploading vhi_8
Uploading vhi_9
Uploading vhi_10
Uploading vhi_11
Uploading vhi_12
Uploading vhi_13
Uploading vhi_14
Uploading vhi_15
Uploading vhi_16
Uploading vhi_17
Uploading vhi_18
Uploading vhi_19
Uploading vhi_20
Uploading vhi_21
Uploading vhi_22
Uploading vhi_23
Uploading vhi_24
Uploading vhi_25
Uploading vhi_26
Uploading vhi_27
Bucket ready

In [8]:
provider2 = load.VHIProvider()

In [9]:
provider2.load_from_s3(new_bucket_name)

Loading from bucket ds-lab-7888127d-b38d-470f-8969-16a791c97884...
Downloading vhi_1
Downloading vhi_2
Downloading vhi_3
Downloading vhi_4
Downloading vhi_5
Downloading vhi_6
Downloading vhi_7
Downloading vhi_8
Downloading vhi_9
Downloading vhi_10
Downloading vhi_11
Downloading vhi_12
Downloading vhi_13
Downloading vhi_14
Downloading vhi_15
Downloading vhi_16
Downloading vhi_17
Downloading vhi_18
Downloading vhi_19
Downloading vhi_20
Downloading vhi_21
Downloading vhi_22
Downloading vhi_23
Downloading vhi_24
Downloading vhi_25
Downloading vhi_26
Downloading vhi_27
Loaded.

In [10]:
provider2.frames[1]

      year  week    SMN     SMT    VCI    TCI    VHI
0     1982     1  0.053  260.31  45.01  39.46  42.23
1     1982     2  0.054  262.29  46.83  31.75  39.29
2     1982     3  0.055  263.82  48.13  27.24  37.68
3     1982     4  0.053  265.33  46.09  23.91  35.00
4     1982     5  0.050  265.66  41.46  26.65  34.06
...    ...   ...    ...     ...    ...    ...    ...
1913  2019    41  0.204  288.84  40.33   5.05  22.68
1914  2019    42  0.180  286.73  40.30   2.38  21.34
1915  2019    43  0.157  284.57  41.00   1.03  21.01
1916  2019    44  0.144  282.17  45.36   0.31  22.81
1917  2019    45  0.141  280.30  55.37   0.05  27.70

[1918 rows x 7 columns]